language: elixir
elixir:
  - 1.10.0
  - 1.8.2
otp_release:
  - 22.2.6
env:
  - MIX_ENV=test
cache:
  directories:
    - priv/plts
before_script:
  - mix deps.get
  - mix deps.compile
  - mix compile --warnings-as-errors
script:
  - mix test
  - mix format --dry-run --check.formatted
  - mix credo --strict
  - mix dialyzer
  - mix coveralls.travis
