language: elixir
elixir:
  - 1.8.0
otp_release:
  - 22.0.7
before_script:
  - MIX_ENV=test mix deps.get
  - MIX_ENV=test mix deps.compile
  - MIX_ENV=test mix compile
script:
  - MIX_ENV=test mix test
